@import '../../App.scss';

.Services {
  // width: 100%;
  // flex: 1 25vw;
  // flex-flow: column wrap;
  // justify-content: flex-end;
  flex: 1 auto;
  display: flex;
  position: relative;
  height: 25vw;
  padding-top: 200px;
  @include mobile {
    padding-top: 140px;
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: baseline;
    // position: relative;
    @include mobile {
      flex-flow: column wrap;
    }
  }

  &__header {
    width: 10%;
    align-self: auto;
  }

  &__copy {
    width: 81%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: absolute;
    bottom: 30%;
    right: 0;
    @include mobile {
      flex-flow: column wrap;
      margin-left: 5%;
      padding-top: 2rem;
      // position: inherit;
      bottom: unset;
      left: 0;
    }

    &_col {
      flex: 1 30%;
      padding-right: 1.5rem;
      max-width: 350px;
      @include mobile {
        padding-top: 1rem;
      }
    }
  }

  &__animation {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 200px;
    @include mobile {
      display: none;
    }
  }
}