@import '../../App.scss';

.Hero {
  margin-top: 60px;
  margin-left: 70px;
  flex: 1 0 auto;
  height: 30vw;
  display: flex;
  flex-direction: column;

  // width: 100%;
  // bottom: 0;
  // flex: 1 30vw;
  // display: flex;
  // flex-direction: column;
  // flex: 1 0 auto;
  // position: relative;
  // height: 30vw;

  
  &__animation {
    width: 100%;
    height: 100%;
    overflow: hidden;
    // position: absolute;
    // top: 13%;
    // left: 4%;
    // z-index: -2;
  }

  &__copy {
    background: #fafafa;
    display: flex;
    align-items: baseline;
    z-index: 100;
    width: fit-content;
    position: relative;
    bottom: 25%;
    left: 4%;
    width: fit-content;
    padding: 0 1.25rem;

    // flex-flow: row wrap;
    // z-index: -1;


    h1 {
      font-size: 4rem;
      font-weight: 300;
      margin-left: 0;
    }

    h2 {
      font-size: 1.75rem;
      font-weight: 400;
      padding: 0 0 1.25rem 1.5rem;
    }
    
    @include desktop {
      h1 {
        font-size: 2.75rem;
      }
      h2 {
        font-size: 1.5rem;
        padding: 0 0 1rem 1.5rem;
      }
    }

    @include tablet-landscape {
      h1 {
        font-size: 2.5rem;
      }
      h2 {
        font-weight: 300;
      }
    }
  }
}


