.About {
    display: flex;
    flex-flow: column wrap;
    margin-top: 100px;
    padding-top: 140px;

  &__header {
    margin-left: 80px;
  }

  &__content {
    margin-left: 140px;
    margin-top: 80px;
    display: flex;
    flex-flow: row wrap;

    img {
      width: 50%;
      max-width: 983px;
      min-width: 300px;
      margin-right: 80px;
      align-self: start;
    }
    
    p {
      flex: 1;
      align-self: flex-end;
      margin-bottom: 40px;
      margin-right: 80px;
    }
  }
}