.About {
  width: 100vw;
  display: flex;
  flex-flow: column wrap;
  flex: 1 25vw;
  position: relative;
  // margin-top: 100px;
  border: 1px solid black;
  
  &__animation {
    width: 100%;
    position: absolute;
  }


  &__content {
    display: flex;
    flex-flow: row wrap;
      margin-left: 8.5%;
      margin-top: 80px;

    img {
      width: 50%;
      max-width: 983px;
      min-width: 300px;
      align-self: start;
      // Value changing w/ animation?      
      margin-right: 47px;
    }
    
    p {
      flex: 1;
      align-self: flex-end;
      margin-bottom: 40px;
      margin-right: 80px;
      font-weight: 300;
      font-size: 1.25rem;
    }
  }
}