.About {
    display: flex;
    flex-flow: column wrap;
    // Values changing w/ animation?
    margin-top: 100px;
    padding-top: 140px;
    flex: 1;

  &__header {
    margin-left: 80px;
  }

  &__content {
    display: flex;
    flex-flow: row wrap;
      // Values changing w/ animation?
      margin-left: 140px;
      margin-top: 80px;

    img {
      width: 50%;
      max-width: 983px;
      min-width: 300px;
      align-self: start;
      // Value changing w/ animation?      
      margin-right: 80px;
    }
    
    p {
      flex: 1;
      align-self: flex-end;
      // Values changing w/ animation?
      margin-bottom: 40px;
      margin-right: 80px;
      font-weight: 300;
      font-size: 1.25rem;
    }
  }
}