// Adobe Font
@import url("https://use.typekit.net/jhd6tvc.css");
@import '../../App.scss';

.Contact {
  width: 100vw;
  position: relative;
  flex: 1 15vw;
  display: flex;
  flex-direction: column;
  // border: 1px solid black;
  // Values changing w/ animation?
  padding-top: 100px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    display: none;
    padding-top: 40px;
}


  &__animation {
    width: 100%;
    position: absolute;
    overflow: hidden;
    max-height: 100%;
    @include mobile {
      display: none;
    }
  }


  h2 {
    font-size: 2em;
    // Values changing w/ animation?      
    margin-left: 200px;
    margin-top: 60px;
    font-weight: 300;
    @include mobile {
      margin-left: 5%;
      margin-top: 10px;
      margin-bottom: 25px;
      margin-right: auto;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    @include mobile {
      width: 90%;
    }
  }

  input[type=text], input[type=email] {
    height: 40px;
    padding: .75rem;
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    min-width: 290px;
    font-family: 'proxima-nova', sans-serif;
  }

  textarea {
    height: 200px;
    padding: .75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: .5rem;
    resize: none;
    min-width: 300px;
    font-family: 'proxima-nova', sans-serif;
  }

  input[type=submit] {
    width: 145px;
    height: 45px;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    border: none;
    align-self: center;
    margin-top: 2.5rem;
    font-weight: 500;
    font-size: 1rem;
  }

  ::placeholder {
    font-weight: 300;
    font-size: .875 rem;
  }
}