// Adobe Font
@import url("https://use.typekit.net/jhd6tvc.css");
// Normalize SCSS
@import '../node_modules/normalize-scss/sass/normalize/import-now';

// Screen Size Variables
$xsmall: 320px;
$small: 768px;
$medium: 1024px;
$large: 1440px;
$xlarge: 1920px; 

// Breakpoints


@mixin mobile {
  @media only screen and (min-width: $xsmall) and (max-width: $small) { @content; }
}

// mobile
@mixin tablet {
  @media only screen and (max-width: $small) { @content; }
}

// tablet-portrait
@mixin tablet-landscape {
  @media only screen and (max-width: $medium) { @content; }
}

// tablet landscape
@mixin desktop {
  @media only screen and (max-width: $large) { @content; }
}

// xlargedesktop
@mixin large-desktop {
  @media only screen and (max-width: $xlarge) { @content; }
}


/* Global Styles */
html {
  background-color: #fafafa;
  font-size: 16px;
  // width: 100vw;
  @include tablet-landscape {
    font-size: 14px;
  } 
}

body {
  font-family: 'proxima-nova', sans-serif;
  // width: 100vw;
  // height: 100vh;
}

h1 {
  font-size: 2.3rem;
  font-weight: 300;
  margin: 0;
  margin-left: 80px;
  @include tablet-landscape {
    font-size: 2rem;
    margin-left: 50px;
  }
  @include tablet {
    margin-left: 5%;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  @include tablet-landscape {
    font-size: 1.28rem;
  }
}

p {
  font-weight: 300;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

