.Nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  
  nav {
    height: 80px;
    background-color: #fff;
    box-shadow: 0 5.5px 5px 0 rgba(0, 0, 0, 0.07), 0 9px 18px 0 rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
  }
  
  &__logo {
    margin-left: 1.5rem;
    margin-right: 1.25rem;
  }

  &__links {
    a:hover, a:active {
      color: #000;
      text-decoration: underline;
    }

    &_active {
      color: #000 !important;
      text-decoration: underline !important;
    }
    
    ul {
      display: flex;
      padding: 0;
      li {
        list-style: none;
        flex: 3;
        padding: 0 1.5rem;
        a {
          font-weight: 500;
          color: #979797;
          text-decoration: none;
        }
      }
    }
  }  
}
  
